{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Про мене</title>
    <link rel="stylesheet" href="index.css">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .promo {
            background-color: #00aaaa;
            height: 100vh;
            width: 100vw;
            font-size: 40px;
            padding: 400px;
        }
    </style>
</head>
<body>
    <section class="promo">
        Привіт! Мене звати Макcим!
    </section>
</body>
</html>